    <style>
        .reveal .speaker-notes {
            background-color: #2a76dd;
            opacity : 0.9;
        }
        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size:1.3em;
            font-weight: bold;
        }

        .reveal .controls {
          bottom: 20px;
        }

        .reveal .slide-menu-button {
            bottom: 40px !important;
        }

        .reveal .slide-number {
          bottom: 3px;
          color: gray !important;
          background-color: inherit;
        }

        div.slide-number {
          color: inherit !important;
          opacity: 0.6;
        }

        #title-footer span.footer-fade {
          opacity: 0.6;
          color: gray;
          font-size: 1.5vh;
        }

        #title-footer span.footer-hard {
          opacity: 1;
          color: gray;
        }

        #notiication {
          opacity: 0.4;
        }

        span.footer-help {
          color: gray;
          opacity: 1;
        }

        span.footer-help a {
          # color: #42affa;
        }
    </style>
