@(ssm: com.gitpitch.models.SlideshowModel, deps: com.gitpitch.policies.Dependencies, offline:Boolean, serverPrinting: Boolean, webPrinting: Boolean)

    <script>
        Reveal.initialize({
            embedded: true,
            margin: 0.0,
            showNotes: @ssm.showNotes(),
            transition: '@ssm.fetchTransition()',
            backgroundTransition: '@ssm.fetchTransition()',
            @if(!(serverPrinting || webPrinting)) {
              autoSlide: @ssm.fetchAutoSlide(false),
            } else {
              autoSlide: 0,
            }
            loop: @ssm.fetchLoop(),
            center: @ssm.fetchVerticalCenter(),
            rtl: @ssm.fetchRTL(),
            shuffle: @ssm.fetchShuffle(),
            mouseWheel: @ssm.fetchMouseWheel(),
            @if(!(serverPrinting || webPrinting)) {
              // slideNumber: @ssm.fetchSlideNumber(),
              slideNumber: 'c/t',
            } else {
              slideNumber: false,
            }
            history: @ssm.fetchHistory(),
            @if(ssm.mathEnabled()) {
                math: {
                    @if(offline) {
                    mathjax: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/math/MathJax.js',
                    } else {
                    mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
                    }
                    config: '@ssm.fetchMathConfig()'
                },
            }
            @if(!(serverPrinting || webPrinting)) {
            menu: {
              themes: [
                { name: 'Black', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/black.css' },
                { name: 'White', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/white.css' },
                // { name: 'League', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/league.css' },
                { name: 'Sky', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/sky.css' },
                { name: 'Beige', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/beige.css' },
                // { name: 'Simple', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/simple.css' },
                // { name: 'Serif', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/serif.css' },
                // { name: 'Blood', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/blood.css' },
                { name: 'Night', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/night.css' },
                { name: 'Moon', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/moon.css' }
                // { name: 'Solarized', theme: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/css/theme/solarized.css' }
              ],
              // themes : false,
              custom: [
                @if(offline) {
                { title: 'Home', active: true, icon: '<i class="fa fa-bookmark">', src: '@ssm.homePanel(offline)' }
                } else {
                { title: 'Home', active: true, icon: '<i class="fa fa-bookmark">', src: '@ssm.homePanel(offline)' },
                { title: 'Themes', icon: '<i class="fa fa-code-fork">', src: '@ssm.gitPanel()' },
                { title: 'GRS', icon: '<i class="fa fa-image">', src: '@ssm.themesPanel()' }
                }
              ],
              // custom: false,
              transitions:  false,
              sticky: false,
              autoOpen: false,
              markers: true,
              sticky: true,
              autoOpen: true
            },
            }
            dependencies: [
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/markdown/marked.js"},
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/markdown/markdown.js"},
                @if(!(serverPrinting || webPrinting)) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/menu/menu.js", async: true},
                /*
                { src: '@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/title-footer/title-footer.js',
                  async: true, callback: function() { title_footer.initialize("@ssm.fetchFootnote()"); }},
                */
                }
                @if(ssm.chartsEnabled()) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/chart/Chart.min.js"},
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/chart/csv2chart.js"},
                }
                @if(deps.cdnDisabled() || offline) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/notes/notes.js", async: true },
                }
                @if(deps.highlightPluginEnabled()) {
                { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/highlight/highlight.js", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                } else {
                { src: '@deps.highlightjs(offline)/highlight.js' },
                { src: '@deps.highlightjs(offline)/reveal-code-focus-1.0.0-mod.js',
                  callback: function() {
                    RevealCodeFocus();
                  }
                },
                }
                @if(ssm.mathEnabled()) {
                    { src: "@deps.revealjs(offline, ssm.fetchRevealVersionOverride())/plugin/math/math.js", async: true }
                }
            ]
        });

        Reveal.addEventListener('ready', function(evt) {
          console.log("slidechanged: event indexh=" + evt.indexh + ", indexv=" + evt.indexv);
          if (evt.indexh === 0 && evt.indexv === 0) {
            setNotification("Navigate : Space / Arrows | <a href='#' onclick='RevealMenu.openMenu()'>M</a> - Menu | <a href='#' onclick='enterFullscreen()'>F</a> - Fullscreen | <a href='#' onclick='enterOverview()'>O</a> - Overview | <a href='#' onclick='enterOverview()'>S</a> - Speaker | <a href='#' onclick='Reveal.enterHelp()'>?</a> - Help");
          } else {
            @if(ssm.hasFootnote()) {
              setNotification("@Html(ssm.fetchFootnote())");
            } else {
              setNotification("[ GitPitch @Html(ssm.params().atPretty()) ]");
            }
          }
        });

        Reveal.addEventListener('slidechanged', function(evt) {
          console.log("slidechanged: event indexh=" + evt.indexh + ", indexv=" + evt.indexv);
          if (evt.indexh === 0 && evt.indexv === 0) {
            setNotification("Navigate : Space / Arrows | <a href='#' onclick='RevealMenu.openMenu()'>M</a> - Menu | <a href='#' onclick='enterFullscreen()'>F</a> - Fullscreen | <a href='#' onclick='enterOverview()'>O</a> - Overview | <a href='#' onclick='enterOverview()'>S</a> - Speaker | <a href='#' onclick='Reveal.enterHelp()'>?</a> - Help");
          } else {
            @if(ssm.hasFootnote()) {
              setNotification("@Html(ssm.fetchFootnote())");
            } else {
              setNotification("[ GitPitch @Html(ssm.params().atPretty()) ]");
            }
          }
        });

        Reveal.configure({
            keyboard: {
                88: function() { // bind "x" key to "select" code block content

                    var currentSlide = Reveal.getCurrentSlide();
                    var preBlock = $(currentSlide).find("pre");

                    if(preBlock.length > 0) {

                        if (window.getSelection) {
                            var range = document.createRange();
                            range.selectNodeContents(preBlock[0]);
                            var selection = window.getSelection();
                            selection.removeAllRanges();
                            selection.addRange(range);
                        }
                    }
                }
            }
        });

        function enterFullscreen() {
            Reveal.triggerKey(70);
        };

        function enterOverview() {
            Reveal.toggleOverview();
        };

        function enterBlackout() {
            Reveal.togglePause();
        };

        function enterHelp() {
          Reveal.toggleHelp();
        }

        function enableEvents() {
            Reveal.addEventListeners();
        };

        function disableEvents() {
            Reveal.removeEventListeners();
        };

    </script>

    @if(ssm.remoteControlEnabled()) {
    <script>
        Reveal.configure({
            keyboard: {
                37: 'prev',
                39: 'next'
            }
        });
    </script>
    }
